{% extends "base.html" %}
{% block title %}andywrote.me{% endblock %}
{% block content %}
<p>
  Hello, I'm Andy Lim. I'm interested in data, statistics, programming, economics, and applied quantitative thinking in general. 
</p>
<p>
  When I'm not thinking about those subjects, you can find me reading, running, playing soccer, playing Euro-style board games and card games, or listening to music (mainly punk/indie with a side of electronic). 
</p>
<p>
  I'm the lead data scientist at <a href="https://www.custora.com/">Custora</a>. Prior to that, I was an equity derivatives trader at <a href="http://www.citigroup.com/">Citigroup</a> for several years. I graduated from <a href="http://www.harvard.edu/">Harvard</a> in 2005 with a bachelor's in economics. I grew up in suburban Massachusetts but have lived in New York since graduating college. 
</p>
{% endblock %}