<!DOCTYPE html>
<html>
<head>
  <title>andywrote.me</title>
  <link rel="stylesheet" type="text/css" href="/static/css/andywrote.css" />
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script type="text/javascript">    
  MathJax.Hub.Config({    
    "HTML-CSS": { 
      scale: 100, 
      minScaleAdjust: 100, 
      maxScaleAdjust: 100
    }
  });
  </script>
  {% block head %}
  {% endblock %}
</head>
<title>
  {% block title %}andywrote.me{% endblock %}
  <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml" />
</title>
<body>

  <div id="main">
    <div id="content-container">
      <h1>andywrote.me</h1>

      {%- with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages %}
          <div id="flashes">
            <ul>
              {% for category, message in messages -%}
                <li class="flash {{ category }}">{{ message }}</li>
              {%- endfor %}
            </ul>
          </div>
        {% endif %}
      {%- endwith %}

      <div id="content">
      {% block content %}
      {% endblock %}
      </div>

    </div>

    <div id="navigation">
      <ul id="navigation-entries">
        <li><a href="/">About me</a></li>
        <li><a href="/blog">Blog</a>&nbsp;&nbsp;<a href="/blog/feed.atom"><img class="feed-icon" src="/static/images/icons/feed-icon.svg" /></a></li>
      </ul>
      <div id="networks">
        <a href="https://twitter.com/andy_wrote"><img class="account-icon" src="/static/images/icons/twitter.png" /></a>
        <a href="https://github.com/andrewblim"><img class="account-icon" src="/static/images/icons/github.png" /></a>
        <a href="http://www.linkedin.com/pub/andrew-lim/5/486/990/"><img class="account-icon" src="/static/images/icons/linkedin.png" /></a>
        <a href="http://www.quora.com/Andrew-Lim-2"><img class="account-icon" src="/static/images/icons/quora.png" /></a>
        <a href="http://www.goodreads.com/user/show/25108-andy"><img class="account-icon" src="/static/images/icons/goodreads.png" /></a>
      </div>
      <div id="footer-credits">
        <a href="http://www.fontsquirrel.com/fonts/list/foundry/vernon-adams">Rokkitt</a> font by Vernon Adams. <a href="http://www.google.com/fonts/specimen/Libre+Baskerville">Libre Baskerville</a> font by <a href="http://www.impallari.com/">Impallari Type</a>, offered via Google Fonts. <a href="http://sawb.deviantart.com/art/Social-Icons-Pack-123247215">Social network icons</a> by Sylwia Besz-Miazga. Background created with Doug Zongker's <a href="http://isotropic.org/celticknot/">Celtic Knot Thingy</a>. Source for this site available on <a href="https://github.com/andrewblim/andywrote.me">Github</a>. 
      </div>
      {% if not current_user.is_anonymous() %}
      <div id="footer-login-info">
        <p>{{ current_user.email }}</p>
        <ul id="footer-login-action-list">
          <li class="footer-login-action"><a href="/blog/write">Write a blog post</a></li>
          <li class="footer-login-action"><a href="/blog/manage">Manage blog posts</a></li>
          <li class="footer-login-action"><a href="/logout">Log me out</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>

</body>
</html>