<!DOCTYPE html>
<html>
<head>
  <title>andywrote.me</title>
  <link rel="stylesheet" type="text/css" href="/static/css/andywrote.css" />
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  {% block head %}
  {% endblock %}
</head>
<title>
  {% block title %}andywrote.me{% endblock %}
</title>
<body>

  <div id="main">
    <div id="content-container">
      <h1>andywrote.me</h1>

      <div id="content">
      {% block content %}
      {% endblock %}
      </div>

    </div>

    <div id="navigation">
      <ul id="navigation-entries">
        <li><a href="/">About me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/reading">Reading list</a></li>
      </ul>
      <div id="networks">
        <a href="https://twitter.com/andy_wrote"><img class="account-icon" src="/static/images/icons/twitter.png" /></a>
        <a href="https://github.com/andrewblim"><img class="account-icon" src="/static/images/icons/github.png" /></a>
        <a href="http://www.linkedin.com/pub/andrew-lim/5/486/990/"><img class="account-icon" src="/static/images/icons/linkedin.png" /></a>
        <a href="http://www.quora.com/Andrew-Lim-2"><img class="account-icon" src="/static/images/icons/quora.png" /></a>
        <a href="http://www.goodreads.com/user/show/25108-andy"><img class="account-icon" src="/static/images/icons/goodreads.png" /></a>
      </div>
      <div id="footer-credits">
        <a href="http://www.fontsquirrel.com/fonts/list/foundry/vernon-adams">Rokkitt</a> font by Vernon Adams. <a href="http://sawb.deviantart.com/art/Social-Icons-Pack-123247215">Social network icons</a> by Sylwia Besz-Miazga. Background created with Doug Zongker's <a href="http://isotropic.org/celticknot/">Celtic Knot Thingy</a>. Source for this site available on <a href="https://github.com/andrewblim/andywrote.me">Github</a>. 
      </div>
      {% if not current_user.is_anonymous() %}
      <div id="footer-login-info">
        {{ current_user.email }}
        <br/>
        <a href="/logout">➢ Log me out</a>
      </div>
      {% endif %}
    </div>
  </div>

</body>
</html>