
body { font-family: sans-serif; }

#content { 
  display: block;
  width: 70%;
  float: left;
  padding: 0 1em 0 0;
}

#navigation { 
  display: block;
  width: 25%;
  float: left;
  font-weight: bold; 
  padding: 3.5em 0 0 1em;
}

#navigation-entries {
  line-height: 1.5em;
}

h1 { 
  font-size: 24pt;
  text-align: right;
}

#about-me {
  display: block;
  float: right;
  width: 75%;
  font-size: 10pt;
  line-height: 1.2em;
  text-align: justify;
}