<!DOCTYPE html>
<html>
<head>
  <title>andywrote.me</title>
  <link rel="stylesheet" type="text/css" href="/css/andywrote.css" />
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="content">
    <h1>andywrote.me</h1>

    <div id="about-me">
      <p>
        Hello, I'm Andrew Lim. I'm Andrew on forms and official docs, but Andy if you're speaking to me in person. I'm interested in data, statistics, programming, economics, and applied quantitative thinking in general. 
      </p>
      <p>
        When I'm not thinking about those subjects, you can find me reading (no strong genre preferences), running, playing soccer, playing Euro-style board games and card games, or listening to music (mainly punk/indie with a side of electronic). 
      </p>
      <p>
        I'm the lead data scientist at <a href="https://www.custora.com/">Custora</a>. Prior to that, I was an equity derivatives trader at <a href="http://www.citigroup.com/">Citigroup</a> for several years. I graduated from <a href="http://www.harvard.edu/">Harvard</a> in 2005 with a bachelor's in economics. I grew up in suburban Massachusetts but have lived in New York since 2005. 
      </p>
      <p>
        Twitter/LinkedIn/Github/Quora/Goodreads/etc. buttons
      </p>
    </div>
  </div>

  <div id="navigation">
    <ul id="navigation-entries">
      <li>About me</li>
      <li>Blog</li>
      <li>Reading list</li>
    </ul>
  </div>

</body>
</html>