<!DOCTYPE html>
<html>
<head>
  <title>andywrote.me</title>
  <link rel="stylesheet" type="text/css" href="/css/andywrote.css" />
</head>
<body>

  <div id="content">
    <h1>andywrote.me</h1>

    <div id="about-me">
      <p>
        I'm Andrew Lim. The official cue cards say that I am interested in data, statistics, programming, and economics. When I'm not thinking about those subjects, you can find me reading (anything at all if it's good, no genre preferences outside of a slight predilection for sci-fi), running, playing soccer, playing Euro-style board games and card games, or listening to music (generally punk/indie with a side of electronic). 
      </p>
      <p>
        I'm the lead data scientist at Custora. Prior to that, I was an equity derivatives trader at Citigroup for several years. I graduated from Harvard in 2005 with a bachelor's in economics. I grew up in suburban Massachusetts but have lived in New York since 2005. 
      </p>
      <p>
        Twitter/LinkedIn/Github/Quora/Goodreads/etc. buttons
      </p>
    </div>
  </div>

  <div id="navigation">
    <ul id="navigation-entries">
      <li>About me</li>
      <li>Blog</li>
      <li>Reading list</li>
    </ul>
  </div>

</body>
</html>