<!DOCTYPE html>
<html>
<head>
  <title>andywrote.me</title>
  <link rel="stylesheet" type="text/css" href="/css/andywrote.css" />
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="main">
    <div id="content">
      <h1>andywrote.me</h1>

      <div id="about-me">
        <p>
          Hello, I'm Andy Lim. I'm interested in data, statistics, programming, economics, and applied quantitative thinking in general. 
        </p>
        <p>
          When I'm not thinking about those subjects, you can find me reading (no strong genre preferences), running, playing soccer, playing Euro-style board games and card games, or listening to music (mainly punk/indie with a side of electronic). 
        </p>
        <p>
          I'm the lead data scientist at <a href="https://www.custora.com/">Custora</a>. Prior to that, I was an equity derivatives trader at <a href="http://www.citigroup.com/">Citigroup</a> for several years. I graduated from <a href="http://www.harvard.edu/">Harvard</a> in 2005 with a bachelor's in economics. I grew up in suburban Massachusetts but have lived in New York since graduating college. 
        </p>
      </div>

    </div>

    <div id="navigation">
      <ul id="navigation-entries">
        <li><a href="/">About me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/reading">Reading list</a></li>
      </ul>
      <div id="networks">
        <a href="https://twitter.com/andy_wrote"><img class="account-icon" src="/images/icons/twitter.png" /></a>
        <a href="https://github.com/andrewblim"><img class="account-icon" src="/images/icons/github.png" /></a>
        <a href="http://www.linkedin.com/pub/andrew-lim/5/486/990/"><img class="account-icon" src="/images/icons/linkedin.png" /></a>
        <a href="http://www.quora.com/Andrew-Lim-2"><img class="account-icon" src="/images/icons/quora.png" /></a>
        <a href="http://www.goodreads.com/user/show/25108-andy"><img class="account-icon" src="/images/icons/goodreads.png" /></a>
      </div>
      <div id="footer-credits">
        Rokkitt font by <a href="http://www.fontsquirrel.com/fonts/list/foundry/vernon-adams">Vernon Adams</a>. Social network icons by <a href="http://sawb.deviantart.com/art/Social-Icons-Pack-123247215">Sylwia Besz-Miazga</a>. 
      </div>
    </div>
  </div>

</body>
</html>