{% extends "blog/base.html" %}
{% block title %}andywrote.me | blog{% endblock %}
{% block content %}
<h2>Manage posts</h2>
{%- if posts is not defined or 
       posts is none or 
       posts is not iterable or 
       posts|length == 0 -%}
<p>
  No posts.
</p>
{%- else -%}
  <table id="manage-posts">
    {%- for post in posts -%}
      <tr class="manage-posts-entry-{{ loop.index0 % 2 }}">
        <td class="manage-posts-title"><a href="/blog/posts/{{ post.slug }}">{{ post.title|safe }}</a></td>
        <td class="manage-posts-authors">
          {%- for author in post.authors -%}
            <div>{{ author.name }}</div>
          {%- endfor -%}
        </td>
        <td class="manage-posts-timestamp">
          <div>{{ post.created_at.strftime('%d %b %Y') }}</div>
          <div>{{ post.created_at.strftime('%I:%M %p') }}</div>
        </td>
        <td class="manage-posts-actions">
          <div><a href="/blog/posts/{{ post.slug }}/edit">Edit</a></div>
          <div>Delete</div>
        </td>
      </tr>
    {%- endfor -%}
  </table>
{%- endif -%}
{% endblock %}