{% extends "blog/base.html" %}
{% block title %}andywrote.me | blog{% endblock %}
{% block content %}
<h2>
  {%- if post is defined -%}
    Edit post: {{ post.title|safe }}
  {%- else -%}
    New post
  {%- endif -%}
</h2>
<form method="POST" action="
  {%- if post is defined -%}
    {{ "/blog/posts/%s/edit" % post.slug }}
  {%- else -%}
    {{ "/blog/write" }}
  {%- endif -%}
">

  {{ form.hidden_tag() }}

  <div class="write-form-item">
    {{ form.title(id="write-title", placeholder="Title (plaintext)", maxlength=300) }}
    {%- if form.title.errors -%}
      <ul class="submit-error-list">
        {%- for error in form.title.errors -%}
          <li class="submit-error">{{ error }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  <div class="write-form-item">
    <label id="write-slug-label">Permalink: /blog/posts/</label>
    <div id="write-slug-container">
      {{ form.slug(id="write-slug", placeholder="(leave blank for reasonable default based on title)", maxlength=80) }}
      {%- if form.slug.errors -%}
        <ul class="submit-error-list">
          {%- for error in form.slug.errors -%}
            <li class="submit-error">{{ error }}</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>

  <div class="write-form-item">
    {{ form.tag_list(id="write-tags", placeholder="Tags (comma-separated)") }}
    {%- if form.tag_list.errors -%}
      <ul class="submit-error-list">
        {%- for error in form.tag_list.errors -%}
          <li class="submit-error">{{ error }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  <div class="write-form-item">
    {{ form.body(id="write-body", placeholder="Whatever you have to say (HTML, though it will be sanitized)") }}
    {%- if form.body.errors -%}
      <ul class="submit-error-list">
        {%- for error in form.body.errors -%}
          <li class="submit-error">{{ error }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  <div class="write-options">
    {%- if post is defined -%}
      {{ form.convert_breaks(id="convert-breaks") }} 
    {%- else -%}
      {{ form.convert_breaks(id="convert-breaks", checked=True) }} 
    {%- endif -%}
    Convert double line breaks to paragraphs<br/>
    {%- if post is defined -%}
      {{ form.use_smartypants(id="use-smartypants") }} 
    {%- else -%}
      {{ form.use_smartypants(id="use-smartypants", checked=True) }} 
    {%- endif -%}
    Use <a href="http://daringfireball.net/projects/smartypants/">SmartyPants</a> (curls quotation marks except in tags like &lt;pre&gt;, etc.)
  </div>
  <div>
    {%- if post is defined and not post.published -%}
      {{ form.published(id="publish") }}
    {%- else -%}
      {{ form.published(id="publish", checked=True) }}
    {%- endif -%}
    Publish (uncheck to save as draft)
  </div>
  <div>
    <input type="submit" value="Post" />
    {%- if post is defined -%}
      <input type="button" id="preview" value="Preview" onclick="window.open('/blog/posts/{{ post.slug }}/preview')" />
    {%- endif -%}
  </div>
</form>
{% endblock %}